{% extends 'base.html' %}

{% block title %} New User {% endblock %}
   
{% block content %}
    
    <div class="d-flex mt-3 justify-content-between">
        <h1><strong>{{user.username}}</strong></h1>
        <form>
            <button formmethod="POST" formaction="/users/{{user.username}}/delete" class="btn btn-danger">Delete User</button>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-10 col-12 offset-sm-1">
            
            <h3 class="">Feedback</h3>
            <ul class="col-sm-10 col-6 list-group" style="list-style-type: none;">
                {% for feedback in user.feedback %}
                <div class="list-group-item mt-3" style="background-color: whitesmoke;">
                    <li class="mt-3 row">
                        <strong>{{feedback.title}} </strong>
                        <br>
                        <small style="text-indent: 4%;">{{feedback.content}}</small>
                    </li>
                    <form class="mt-3">
                        {{form.hidden_tag()}}
            
                        <button formmethod="GET" formaction="/feedback/{{feedback.id}}/update" class="btn btn-sm btn-primary offset-sm-5">Edit</button> 
                        <button formmethod="POST" formaction="/feedback/{{feedback.id}}/delete" class="btn btn-sm btn-danger">Delete</button> 
                     
                   </form>
                </div>
                {% endfor %}
            </ul>
            <div class="text-end mt-3 col-sm-10 col-6">
                <a href="/users/{{user.username}}/feedback/new" class="btn btn-success">Add Feedback</a> 
            </div>
            
        </div>

    </div>
   
{% endblock %}